{% extends "main.html" %}

{% load static %}

{% block title %}Chart{% endblock %}

{% block dependencies %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link rel="stylesheet" href="{% static 'css/apexcharts.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div id="chart"></div>
        </div>
    </div>
</div>

<script>
    let crypto_1y_data = "{{ crypto_data_dict|safe }}".replaceAll("'", "\"");
    crypto_1y_data = JSON.parse(crypto_1y_data);
</script>

<script>
    var options = {
        series: [{
            data: crypto_1y_data
        }],
        chart: {
            type: 'candlestick',
            height: 500,
            zoom: {
                enabled: true,
                type: 'x',
                autoScaleYaxis: true,
                zoomedArea: {
                    fill: {
                        color: '#90CAF9',
                        opacity: 0.4
                    },
                    stroke: {
                        color: '#0D47A1',
                        opacity: 0.4,
                        width: 1
                    }
                }
            }
        },
        title: {
            text: '{{ crypto_usd }}',
            align: 'left'
        },
        xaxis: {
            type: 'datetime'
        },
        yaxis: {
            tooltip: {
                enabled: true
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>
{% endblock %}