#animated_btn {
    color: black;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

#animated_btn:hover {
    color: #0d6efd;
}

#toplist_by_market_cap a {
    text-decoration: none;
}

img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}