#login_btn {
    color: black;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

#login_btn:hover {
    color: #0d6efd;
}

#toplist_by_market_cap a {
    text-decoration: none;
}